/syntax learning/Varibales/target/
/syntax learning/operators/target/
/syntax learning/Strings/target/
/syntax learning/Math/target/
/syntax learning/Math_methods/target/
/syntax learning/Conditions/target/
/syntax learning/Loops/target/
/syntax learning/array/target/
/collage assignments/assignment 1/countDigitsInteger/target/
/collage assignments/assignment 1/SwapTwoNumbers/target/
/collage assignments/FindTargetSum/target/
